.registerform__header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.registerform__container {
    padding: 20px;
    box-shadow: 8px 8px 5px #aaaaaa;
}
.registerform__container form {
    display: flex;
    flex-direction: column; 
}


.registerform__errors {
    font-size: small;
    color: red;
}



.registerform__input {
    width: 100%;
}

.registerform__bottom {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

.registerform__bottom > button {
    border: none;
    padding: 8px;
    background-color: #dcb02c;
    border-radius: 10px;
    cursor: pointer;
}