.loginForm__container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #eceeee;
    box-shadow: 8px 8px 5px #aaaaaa;

}

.loginForm__container form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.loginForm__container-button {
    display: flex;
    justify-content: space-between;
}

.loginForm__errors {
    font-size: small;
    color: red;
}

button {
    
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    background-color: #37a69b;
    border-radius: 10px;
}

#logout-container {
    text-align: center;
}