<router-outlet></router-outlet>
<div class="loginForm__container"*ngIf="!isValidUser">
    <form [formGroup]="loginForm" (ngSubmit)="validateUserInfo()">
        <label>User</label><input type="text"  formControlName="userForm">
        <div class="loginForm__errors"  *ngIf="loginForm.get('userForm')?.invalid && (loginForm.get('userForm')?.touched || loginForm.get('userForm')?.dirty)">
            <p *ngIf="loginForm.get('userForm')?.hasError('required')">The field is required</p>
         </div>
        <label>Password</label><input type="password"  formControlName="password">
        <div class="loginForm__errors"  *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
            <p *ngIf="loginForm.get('password')?.hasError('required')">The field is required</p>
         </div>
        <div class="loginForm__container-button">
        <button type="reset">Reset</button>
        <button type="submit" [disabled]="!loginForm.valid">Log In</button>
        </div>
    </form>
</div>

<div *ngIf="findEmployee.isAdmin && isValidUser"> 
    
    <app-registerform (addEmployeeEmiter)="addNewEmployee($event)"></app-registerform>
   
    
</div>

<div *ngIf="isValidUser && !findEmployee.isAdmin">

<app-updateform></app-updateform>
</div>

<div id="logout-container" *ngIf="isValidUser">
    <button type="button" (click)="logOut()">Log Out</button>
</div>

