.updateForm__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
 
}
 
fieldset {
    display: flex;
    flex-direction: column;
}
.updateForm__container-form{
   display: flex;
   flex-direction: column;
}

.updateForm__errors {
    font-size: small;
    color: red;
}

select{
    display: block;
}

input [type=submit]{
    width: 50%;
}

.div-vaccine {
    display: flex;
    flex-direction: column;
}


